<h2> Tables list : </h2>
<ol>
  <% @spots.each do |spot| %>
    <li> Table #<%= spot.name %> - <%= spot.capacity %> pax</li>
    <%= link_to 'Edit', edit_restaurant_spot_path(@restaurant, spot) %>
    <%= link_to 'Remove', restaurant_spot_path(@restaurant, spot),
    method: :delete,
    data: { confirm: "Are you sure sure sure ?" }
    %>
    </li>
  <% end %>
</ol>

<%= link_to 'Add a table', new_restaurant_settings_spot_path(@restaurant)%>
