
<div class="container">
<div class="col-xs-3">
<%= simple_form_for [@restaurant, @booking] do |f| %>
  <%= f.error_notification %>

  <%= f.label :date %>
  <%= f.text_field :date, class: "form-control", :data => {:provide => :datepicker, 'date-format' => "dd/mm/yyyy"} %>
  <%= f.input :period, collection: ["Midi", "Soir"], as: :select %>
  <%= f.label :start_time %>
  <%= f.time_field :start_time, class: "form-control" %>
  <%= f.label :end_time %>
  <%= f.time_field :end_time, class: "form-control" %>
  <%= f.input :pax, class: "form-control", placeholder: 'number of people' %>
  <%= f.input :status, collection: ["Confirmé", "Assis", "Arrivés", "Message", "Annulée", "No show"], as: :select %>
  <%= f.input :notes %>


  <%= f.button :submit, class: "btn btn-danger"%>

<% end %>
</div>
