<div class="panel-body">
  <%= simple_form_for [@restaurant, @booking] do |f| %>
   <%#= f.error_notification %>
    <div class="form-group">
      <div class="col-sm-6 padding-right-5">
      <%= f.label :date %>
      <%= f.text_field :date, placeholder: "Date", class: "form-control", :data => {:provide => :datepicker, 'date-format' => "dd/mm/yyyy"} %>
      </div>
      <div class="col-sm-6 padding-left-5 pax-top">
      <%= f.input :pax, label: "Couverts", class: "form-control", placeholder: 'Nombre de couverts' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-4 padding-right-5">
        <%= f.label :start_time, label:"Heure" %>
        <%= f.time_field :start_time, class: "form-control" %>
      </div>
      <div class="col-sm-4 padding-right-5 padding-left-5 pax-top">
        <%= label_tag(:spot, "Table", :class => "control-label") %>
        <%= text_field_tag(:spot, nil, :class => "form-control")%>
      </div>
      <div class="col-sm-4 padding-left-5 pax-top">
         <%= f.input :period, label: "Service", collection: ["Midi", "Soir"], as: :select %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-6 padding-right-5">
        <%= label_tag(:first_name, "Client", :class => "ontrol-label") %>
        <%= text_field_tag(:first_name, nil, :class => "form-control") %>
      </div>
      <div class="col-sm-6 padding-left-5 pax-top">
        <%= f.input :status, label: "Statut", collection: ["Reservé", "Confirmé", "Assis", "Arrivés", "Message", "Annulée", "No show"], as: :select, default: "Réservé" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.input :notes %>
    </div>
    <%= f.button :submit, value: "Réserver", class: "btn btn-primary btn-full-width" %>
  <% end %>
</div>
