<% if @restaurant && current_user.restaurants.present? && @restaurant.persisted? %>
  <div class="modal fade" id="<%= id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content panel panel-default">
        <div class="modal-header panel-heading">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="panel-title" id="myModalLabel">Prendre une réservation</h3>
        </div>
        <div class="modal-body panel-body">
       <%= simple_form_for [@restaurant, @booking] do |f| %>
         <%#= f.error_notification %>
         <div class="form-group">
            <div class="col-sm-6 padding-right-5">
              <%= f.label :date %>
              <% if local_assigns.has_key?(:date) %>
                <%= text_field_tag(:date, date, :class => "form-control datepicker") %>
              <% else %>
                <%= text_field_tag(:date, params[:date], :class => "form-control datepicker") %>
              <% end %>
            </div>
            <div class="col-sm-6 padding-left-5 pax-top">
            <%= f.input :pax, label: "Couverts", class: "form-control", placeholder: 'Nombre de couverts' %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-3 padding-left-5 pax-top">
               <%= f.input :period, label: "Service", collection: ["Soir", "Midi"], as: :select, default: "Soir" %>
            </div>
            <div class="col-sm-3 padding-right-5">
                <%= label_tag(:start_time, "Heure", :class => "control-label") %>
                <div class='select-midi is-hidden select'>
                  <%= select(:start_time, "person_id", ["12h30", "13h00", "13h30", "14h00", "14h30"], :class => "form-control") %>
                </div>
                <div class='select-soir select'>
                  <%= select(:start_time, "person_id", ["19h30", "20h00", "20h30", "21h00", "21h30", "22h"], :class => "form-control")%>
                </div>
            </div>
            <div class="col-sm-3 padding-right-5 padding-left-5 pax-top">
              <%= label_tag(:spot, "Table", :class => "control-label") %>
              <%= text_field_tag(:spot, nil, :class => "form-control")%>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-6 padding-left-5 pax-top">
              <%= f.input :status, label: "Statut", collection: ["Reservé", "Confirmé", "Assis", "Arrivés", "Message", "Annulée", "No show"], as: :select, default: "Réservé" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.input :notes %>
          </div>
          <%= f.label :waiting_list, "Liste d'attente"%>
          <%= f.check_box :waiting_list, class: "margin-left-10"%>

          <%= f.button :submit, value: "Réserver", class: "btn btn-primary btn-full-width" %>

       <% end %>
     </div>
   </div>
 </div>
</div>
<% end %>


