<div class="margin-left">

  <h1>Bookings#index</h1>

  <table class="table">

    <tbody>

    <ul class="nav nav-pills">
      <li role="presentation" class="active"><a href="#resa-midi">Midi</a></li>
      <li role="presentation"><a href="#resa-soir">Soir</a></li>
    </ul>
      <thead>
        <tr>
          <th>Service</th>
          <th>Heure</th>
          <th>Statut</th>
          <th>Couverts</th>
          <th>Client</th>
          <th>Table</th>
          <th>Notes</th>
          <th>Action 1</th>
          <th>Action 2</th>
        </tr>
      </thead>

    <% if @booking.period == "Midi" %>
        <div id="resa-midi">
          <% @bookings.each do |booking| %>
            <tr>
              <td>
                <%= booking.period %>
              </td>
              <td>
                <%= booking.start_time.hour %>h<%= booking.start_time.min %>
              </td>
              <td>
                <%= booking.status %>
              </td>
              <td>
                <%= booking.pax %>
              </td>
              <td>
                Toto
              </td>
              <td>
                <%= booking.spots.name %>
              </td>
              <td>
                <%= booking.notes %>
              </td>
              <td>
                <%= link_to "Edit", edit_restaurant_booking_path(@restaurant, booking) %>
              </td>
              <td><%= link_to "Delete", restaurant_booking_path(@restaurant, booking),
                method: :delete,
                data: { confirm: "Are you sure?" } %>
              </td>
            </tr>
          <% end %>
        </div>
      <% else %>
        <div id="resa-soir">
          <% @bookings.each do |booking| %>
            <tr>
              <td>
                <%= booking.period %>
              </td>
              <td>
                <%= booking.start_time.hour %>h<%= booking.start_time.min %>
              </td>
              <td>
                <%= booking.status %>
              </td>
              <td>
                <%= booking.pax %>
              </td>
              <td>
                Toto
              </td>
              <td>
                <%= booking.spots.name %>
              </td>
              <td>
                <%= booking.notes %>
              </td>
              <td>
                <%= link_to "Edit", edit_restaurant_booking_path(@restaurant, booking) %>
              </td>
              <td><%= link_to "Delete", restaurant_booking_path(@restaurant, booking),
                method: :delete,
                data: { confirm: "Are you sure?" } %>
              </td>
            </tr>
          <% end %>
        </div>
        </tbody>
    <% end %>
  </table>

</div>




