<h1>Bookings index</h1>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <div class="container"><h1><strong><%= @date.year %></strong></h1></div>
      <div class="container text-center" id="chevrons">
      <%= link_to "<<", :date => previous_month(@date) %>
      <%= link_to ">>", :date => next_month(@date) %>
      </div>
      <%= calendar(:year => @date.year, :month => @date.month, :first_day_of_week => 1) do |d|
            [d.mday, {:class => "specialDay"}]
      end %>
    </div>
  </div>

  <%= render "bookings/day_view", date: @date, restaurant: @restaurant, bookings: @bookings, diner_booking_total: @diner_booking_total, lunch_booking_total: @lunch_booking_total %>

</div>









