<% if @restaurant.nil? %>
<% elsif !current_user.restaurants.blank? && @restaurant.persisted? %>
  <div id="nav-container">

    <h1 class= "text-left"><%= @restaurant.picture? ? image_tag(@restaurant.picture.url(:medium)) : @restaurant.name %></h1>

      <button data-toggle="modal" data-target="#sidebar-modal" class="btn btn-primary"><i class="fa fa-plus"></i> Réservation</button>


    <div class="list">
      <div id="home">
        <%= link_to restaurant_path(@restaurant), class: sidebar_css_class(:home) do %>
          <p><i class="fa fa-th-large"></i> Accueil</p>
        <% end %>
      </div>

      <hr class="dividor">

      <div id="calendar">
        <%= link_to restaurant_bookings_path(@restaurant), class: sidebar_css_class(:calendar) do %>
          <p><i class="fa fa-calendar"></i> Calendrier</p>
        <% end %>

      </div>

      <hr class="dividor">

      <div id="contact">
        <%= link_to restaurant_customers_path(@restaurant), class: sidebar_css_class(:contact) do %>
          <p><i class="fa fa-users"></i> Contacts</p>
        <% end %>
      </div>

      <hr class="dividor">

      <div id="config">
        <%= link_to edit_restaurant_settings_path(@restaurant), class: sidebar_css_class(:config) do %>
          <p><i class="fa fa-cog"></i> Configuration</p>
        <% end %>
      </div>

      <hr class="dividor">

      <div id="stats">
        <%= link_to restaurant_stats_path(@restaurant), class: sidebar_css_class(:stats) do %>
          <p><i class="fa fa-bar-chart"></i></i> Statistiques</p>
        <% end %>
      </div>

      <hr class="dividor">

      <div id="messages">
        <%= link_to restaurant_messages_path(@restaurant), class: sidebar_css_class(:messages) do %>
          <p><i class="fa fa-envelope"></i></i> Messages</p>
        <% end %>
      </div>

    </div>
  </div>
<% end %>

<%= render 'bookings/modal', id: 'sidebar-modal', customer: @customer %>
