<% if @restaurant.nil? %>
<% else %>
<% if !current_user.restaurants.blank? && @restaurant.persisted? %>
  <div id="nav-container">

    <h1 class= "text-left"><%= @restaurant.name %></h1>

      <button data-toggle="modal" data-target="#myModal2" class="btn btn-primary">Create booking</button>


    <div class="list">
      <div id="home">
        <%= link_to restaurant_path(@restaurant), class: sidebar_css_class(:home) do %>
          <p><i class="fa fa-th-large"></i> Accueil</p>
        <% end %>
      </div>



      <div id="calendar">
        <%= link_to restaurant_bookings_path(@restaurant), class: sidebar_css_class(:calendar) do %>
          <p><i class="fa fa-calendar"></i> Calendrier</p>
        <% end %>

      </div>


      <div id="contact">
        <%= link_to restaurant_customers_path(@restaurant), class: sidebar_css_class(:contact) do %>
          <p><i class="fa fa-users"></i> Contacts</p>
        <% end %>
      </div>



      <div id="config">
        <%= link_to edit_restaurant_settings_path(@restaurant), class: sidebar_css_class(:config) do %>
          <p><i class="fa fa-cog"></i> Configuration</p>
        <% end %>
      </div>



      <div id="stats">
        <%= link_to "#", class: sidebar_css_class(:stats) do %>
          <p><i class="fa fa-bar-chart"></i></i> Statistiques</p>
        <% end %>
      </div>

    </div>
  </div>

<% end %>
<% end %>

<%= render 'bookings/modal' %>
