
<%= simple_form_for([@restaurant, @customer]) do |f| %>
  <%= f.error_notification %>
    <div class="form-group">
      <div class="col-sm-6 padding-right-5">
        <%= f.input :first_name, label: "Prénom" %>
      </div>
      <div class="col-sm-6 padding-left-5">
        <%= f.input :last_name, label: "Nom de famille" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-9 padding-right-5">
        <%= f.input :email, label: "Adresse email" %>
      </div>
      <div class="col-sm-3 padding-left-5">
        <%= f.input :phone_number, label: "Téléphone" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-3 padding-right-5">
        <%= f.input :gender, collection: ["Mr", "Mme"], as: :select, label: "Civilité" %>
      </div>
      <div class="col-sm-9 padding-left-5">
        <%= f.input :status, collection: ["VIP", "Excellent client", "Très bon client", "Bon client", "Normal", "Liste marron", "Prospect", "Liste noire"], as: :select, label: "Statut" %>
      </div>
    </div>
    <%= f.input :comments %>

  <%= f.button :submit, value: "Sauvegarder", class: "btn btn-primary btn-full-width" %>
<% end %>
