<div class="margin-top page-content">
  <div class="container-fluid">
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <div class="col-md-9">
          <h2><%= @customer.full_name %></h2>
        </div>
        <div class="col-md-3 text-right">
          <h2>
            <%= link_to edit_restaurant_customer_path(@restaurant, @customer) do %>
              <i class="fa fa-pencil-square"></i>
            <% end %>
          </h2>
        </div>
      </div>
      <hr class="dividor">
      <div class="row">
        <div class="col-md-9">
          <% if @customer.email? %>
            <a href="mailto:<%= customer.email %>"><%= @customer.email %></a>
          <% else %>
            ...
          <% end %>
          <br>
          <p><%= @customer.phone_number? ? @customer.phone_number : "..." %></p>
        </div>
        <div class="col-md-3 text-right">

          <button data-toggle="modal" data-target="#customer-modal" class="btn btn-primary"><i class="fa fa-plus"></i> Réservation</button>
          <%#= link_to "Add a booking", class: "btn btn-primary" %>
        </div>
      </div>
      <hr class="dividor">
      <div class="row text-center info-services">
        <div class="col-md-4">
          <h4> Réservations</h4>
          <br><div class="nb-big"><%= @customer.bookings.count %></div>
        </div>
        <div class="col-md-4">
          <h4> Annulations</h4>
          <br><div class="nb-big"><%= @customer.bookings.where(status: "Annulée").count %></div>
        </div>
        <div class="col-md-4">
          <h4> No-show</h4>
          <br><div class="nb-big"><%= @customer.bookings.where(status: "No show").count %></div>
        </div>
      </div>
      <hr class="dividor">
      <div class="row text-center">
        <div class="col-md-6">
          <h4>Statut</h4>
          <br>
          <p><%= @customer.status? ? @customer.status : "--" %></p>
        </div>
        <div class="col-md-6">
          <h4>Commentaires</h4>
          <br>
          <p><%= @customer.comments? ? @customer.comments : "--" %></p>
        </div>
      </div>
      <div class="sm-padded"></div>
    </div>
  </div>
<div>


