<div class="all-features text-center sm-padded">
  <h1>Les fonctionnalités dont vous avez besoin.</h1>
</div>

<div class="bloc bloc-white">
  <div class="container">
    <div class="row">
      <div>
        <div class="col-sm-6 col-md-6">
          <div class = "feature_icone">
            <%= image_tag "centralize.png", class: " img-responsive" %>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class = "feature_description">
            <h3>Le tout centralisé dans un même outil</h3>
            <p>Réglages de votre module, suivi du calendrier, construction d'un fichier client, analyse de performance, prise de réservations sur votre site internet, votre page facebook ou par téléphone : une interface claire et intuitive pour optimiser la gestion de votre établissement.</p>
            <div class="btn btn-primary" >
            <%= link_to t(".top_call_to_action", default: "Je crée mon compte gratuitement"), new_user_registration_path %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bloc bloc-grey">
  <div class="container">
    <div class="row">
      <div>
        <div class="col-sm-6 col-md-6">
          <div class = "feature_description">
            <h3>Configurez votre interface en quelques clics</h3>
            <p>Paramétrez les informations clées de votre établissement : heures de service, capacité, liste de tables, personnel. Ces données seront directement liées à votre calendrier ainsi qu'au module de réservation en ligne</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class = "feature_icone">
            <%= image_tag "reglages.png", class: " img-responsive" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bloc bloc-white">
  <div class="container">
    <div class="row">
      <div>
        <div class="col-sm-6 col-md-6">
          <div class = "feature_icone">
            <%= image_tag "free.svg", class: " img-responsive" %>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="feature_description">
            <h3>Acceptez les réservations sur internet sans frais</h3>
            <p>Proposez à vos clients de réserver une table directement sur votre site internet ou votre page Facebook. Vous gagnerez du temps, et il n'y aura pas de frais supplémentaire, quel que soit le nombre de réservations en ligne.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bloc bloc-grey">
  <div class="container">
    <div class="row">
      <div>
         <div class="col-sm-6 col-md-6">
          <div class = "feature_description">
            <h3>Profitez d'une visibilité directe sur les services du jour</h3>
            <p>Nombre de couverts pour chaque service, instructions spéciales, notifications du chef, personnes VIP attendues, visualisez l'odre du jour en un coup d'oeil et optimisez ainsi la gestion de vos équipes et de votre planning.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class = "feature_icone">
            <%= image_tag "dashboard.png", class: " img-responsive" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bloc bloc-white">
  <div class="container">
    <div class="row">
      <div>
        <div class="col-sm-6 col-md-6">
          <div class = "feature_icone">
            <%= image_tag "time.svg", class: " img-responsive" %>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class = "feature_description">
            <h3>Prenez des réservations par téléphone plus rapidement</h3>
            <p>Répondez efficacement aux appels téléphoniques, visualisez en un coup d'oeil l'état de remplissage d'un service, les créneaux complets et le nombre de personnes sur liste d'attente afin de satisfaire plus rapidement une demande de réservation.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bloc bloc-grey">
  <div class="container">
    <div class="row">
      <div>
        <div class="col-sm-6 col-md-6">
          <div class="feature_description">
            <h3>Gérez vos listes d’attente</h3>
            <p>Retrouvez sur sur votre écran d'accueil et sur le calendrier, le nombre de personnes sur liste d'attente, par jour et par service. Ajoutez une réservation sur liste ou modifiez son statut pour les ajouter aux couverts du jour.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class = "feature_icone">
            <%= image_tag "waiting.png", class: " img-responsive" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bloc bloc-white">
  <div class="container">
    <div class="row">
      <div>
        <div class="col-sm-6 col-md-6">
          <div class = "feature_icone">
            <%= image_tag "stats.svg", class: " img-responsive" %>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class = "feature_description">
            <h3>Analysez vos statistiques sur une période donnée</h3>
            <p>Suivez l'évolution du nombre de couverts, de réservations sur internet, comparez les données d'une période à une autre pour mieux anticiper la gestion de vos services. Identifiez le canal de réservation le plus utilisé par vos clients.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bloc bloc-grey">
  <div class="container">
    <div class="row">
      <div>
        <div class="col-sm-6 col-md-6">
          <div class="feature_description">
            <h3>Vous êtes le propriétaire de votre base de données.</h3>
            <p>Commentez votre fichier clients pour leur accorder une attention particulière. Apprenez à les connaître vos clients en notant des informations propres à chacun (statut privilégié ou blacklisté, allergies, intolérances.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class = "feature_icone">
            <%= image_tag "client.png", class: " img-responsive" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bloc bloc-white">
  <div class="container">
    <div class="row">
      <div>
        <div class="col-sm-6 col-md-6">
          <div class = "feature_icone">
            <%= image_tag "big-chat.svg", class: " img-responsive" %>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class = "feature_description">
            <h3>Notre équipe dédiée est à l'écoute de vos besoins</h3>
            <p>Un contact privilégié vous accompagne en permanence pour faciliter ensemble votre quotidien. Profitez d'une formation dans votre établissement pour une prise en main rapide et efficace.</p>
            <div class="btn btn-primary" >
            <%= link_to t(".top_call_to_action", default: "Je teste La réserve sans frais"), new_user_registration_path %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= render "shared/footer" %>
