<%= content_for(:title) do %>
  Home
<% end %>

<%= content_for(:description) do %>
  <%# TODO %>
<% end %>


<div class="banner text-center">
  <div class="banner-content">
    <h1>Optimisez la gestion de vos réservations. Simplement.</h1>
  </div>
</div>


<div class="home-img text-center">
  <%= image_tag "laptop_calendar.png", class: "img-medium img-responsive" %>
</div>

<div class="text-center bg-light-grey">
  <%= link_to t(".top_call_to_action", default: "Créer un compte gratuitement"), new_user_registration_path, class: "btn btn-primary" %>
</div>

<div class="features text-center bg-light-grey">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <%= image_tag "ordi-01.png", class: "img-small" %>
        <h4>Plus qu'un cahier <br>de réservations</h4>
        <p>Tous les outils nécessaires au bon déroulement de vos services regroupés dans une solution.</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <%= image_tag "gear-01.png", class: "img-small" %>
        <h4>Configurez votre interface <br>en quelques clics</h4>
        <p>Paramétrez les informations clées <br>de votre établissement : heures de service, capacité, liste de tables.</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <%= image_tag "contacts-01.png", class: "img-small" %>
        <h4>Vous êtes le propriétaire <br>de votre base de données</h4>
        <p>Commentez votre fichier clients <br>pour leur accorder une attention particulière.</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <%= image_tag "chat2-01.png", class: "img-small" %>
        <h4>Une équipe dédiée et <br>à l'écoute de vos besoins</h4>
        <p>Un contact privilégié vous accompagne en permanence pour faciliter ensemble votre quotidien.</p>
      </div>
    </div>
    <div class="row">
      <%= link_to "Voir toutes les fonctionnalités", page_path('features'), class: "btn btn-primary" %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
