<%= content_for(:title) do %>
  Home
<% end %>

<%= content_for(:description) do %>
  <%# TODO %>
<% end %>

<!-- <div class="homepage-hero-module">
    <div class="video-container">
      <div class="container" data-sr>
        <div class="slogan">
          <h1>Restez complet</h1>
          <p>La Réserve vous permet d'optimiser vos réservations en toute simplicité.</p>
        </div>
      </div>
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src=<%#= image_url('repas.mp4') %> type="video/mp4" />
        <div class="poster hidden">
          <%#= image_tag "tabledressee.jpg" %>
        </div>
    </div>
</div> -->

<div class="banner text-center">
<!--   <div class="banner text-center" style="background-image: url('http://placehold.it/1000x500')"> -->
<!--   <div class="banner-shadow"></div> -->
  <div class="banner-content">
    <h1>Optimisez la gestion de vos réservations. Simplement.</h1>
  </div>
</div>


<div class="home-img text-center">
  <%= image_tag "laptop_calendar.png", class: "img-medium img-responsive" %>
</div>

<div class="features text-center bg-light-grey">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <%= image_tag "booklet.png", class: "img-small" %>
        <h4>Plus qu'un cahier <br>de réservations</h4>
        <p>Tous les outils nécessaires au bon déroulement de vos services regroupés dans une même solution.</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <%= image_tag "gear.png", class: "img-small" %>
        <h4>Configurez votre interface <br>en quelques clics</h4>
        <p>Paramétrez les informations clées <br>de votre établissement : heures de service, capacité, liste de tables.</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <%= image_tag "contacts.png", class: "img-small" %>
        <h4>Vous êtes le propriétaire <br>de votre base de données.</h4>
        <p>Commentez votre fichier clients <br>pour leur accorder une attention particulère.</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <%= image_tag "chat.png", class: "img-small" %>
        <h4>Une équipe dédiée et <br>à l'écoute de vos besoins</h4>
        <p>Un contact privilégié vous accompagne en permanence pour faciliter, ensemble, votre quotidien.</p>
      </div>
    </div>
  </div>
</div>




<!-- Push configuration to Heroku
 # View current environment variables
 $ heroku config
 # Add environment variables from `config/application.yml`
 $ figaro heroku:set -e production
 # Check that again!
 $ heroku config -->
