<div class="margin-top">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <ul class="nav nav-pills ">
        <li role="presentation" class="switch-button"><a href="#config-resto" data-toggle="tab">Restaurant</a></li>
        <li role="presentation" class="active switch-button"><a href="#config-waiter" data-toggle="tab">Personnel</a></li>
        <li role="presentation" class="switch-button"><a href="#config-spot" data-toggle="tab">Tables</a></li>
      </ul>
        <div class="row">
          <div class="col-md-11">
            <div class="panel panel-default">
              <div class="tab-content">
                <%= render 'settings/tabs/restaurant' %>

                <div role="tabpanel" class="tab-pane active" id="config-waiter">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                     <h3 class="panel-title">Enregistrer un nouveau membre</h3>
                    </div>
                    <div class="panel-body">
                      <%= simple_form_for [@restaurant, :settings, @waiter] do |f| %>
                        <%= f.error_notification %>
                        <%= f.input :name %>
                        <%= f.submit :submit, value: "Enregistrer", class: "btn btn-primary btn-full-width" %>
                      <% end %>
                    </div>
                  </div>
                </div>

                <%= render 'settings/tabs/spots' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
