<div class="margin-top">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">

        <div class="text-center" id="focus-day">
          <h2 class= "text-center">
            <%= link_to :date => previous_day(@date) do  %>
              <i class="fa fa-arrow-left"></i>
            <% end %>
            <%= @date.strftime("%A %d %B %Y") %>
            <%= link_to :date => next_day(@date) do  %>
              <i class="fa fa-arrow-right"></i>
            <% end %>
          </h2>
        </div>

        <div class="sm-padded"></div>

        <div class="info-services">
          <div id="post-it">
            <div class="col-md-4">
              <div class="panel panel-default text-center">
                <div class="panel-heading">
                  <h3 class= "panel-title"> Commentaires</h3>
                  <hr>
                </div>
                <div class="panel-body">
                  <%# simple_form_for() %>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-8">
            <div class="panel panel-default text-center">
              <div class="panel-heading">
                <h3 class="panel-title"> Midi</h3>
                <hr>
              </div>
              <div class="panel-body">
                <div class="col-md-4">
                  <h4>couverts</h4>
                  <p class= "nb-big"> <%= total_cuttlery_for(:midi, @date, @restaurant.bookings)%></p>
                </div>
                <div class="col-md-4">
                  <h4>liste d'attente</h4>
                  <p class= "nb-big"> <%= total_waiting_cuttlery_for(:midi, @date, @restaurant.bookings)%></p>
                </div>
                <div class="col-md-4">
                  <h4>VIP</h4>
                  <div id="list-vip">
                    <% @restaurant.bookings.for_period(:midi).for_date(@date).each do |booking| %>
                      <% if booking.customer.status == "VIP" %>
                        <p> <%= booking.customer.full_name %> </p>
                        <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="panel panel-default text-center">
              <div class="panel-heading">
                <h3 class="panel-title"> Soir</h3>
                <hr>
              </div>
              <div class="panel-body">
                <div class="col-md-4">
                  <h4>couverts</h4>
                  <p class= "nb-big"> <%= total_cuttlery_for(:soir, @date, @restaurant.bookings)%></p>
                </div>
                <div class="col-md-4">
                  <h4>liste d'attente</h4>
                  <p class= "nb-big"> <%= total_waiting_cuttlery_for(:soir, @date, @restaurant.bookings)%></p>
                </div>
                <div class="col-md-4">
                  <h4>VIP</h4>



                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


