
<div class="row">

    <%= link_to(restaurant_bookings_path(@restaurant, date: date, time: 'midi'), remote: true) do %> <!-- on rajoute un params time pour choisir midi ou soir -->

      <div class="<%= agenda_day_css_class(:midi, date, @bookings, @restaurant.capacity) %>">
        <p class= "dejdin">midi</p>
        <span class= "dejdin col-xs-7 text-right" id="couverts"><%= total_cuttlery_for(:midi, date, @bookings) %>/<%= @restaurant.capacity %></span>
        <span class= "dejdin col-xs-5 text-left font-bold" id="file_attente">(<%= total_waiting_cuttlery_for(:midi, date, @bookings) %>)</span>
      </div>

    <% end %>


  <%= link_to(restaurant_bookings_path(@restaurant, date: date, time: 'soir'), remote: true) do %>
    <div class="<%= agenda_day_css_class(:soir, date, @bookings, @restaurant.capacity) %>">
      <p class= "dejdin">soir</p>
      <span class= "dejdin col-xs-7 text-right" id="couverts"><%= total_cuttlery_for(:soir, date, @bookings) %>/<%= @restaurant.capacity %></span>
      <span class= "dejdin col-xs-5 text-left font-bold" id="file_attente">(<%= total_waiting_cuttlery_for(:soir, date, @bookings) %>)</span>
      </div>
  <% end %>
</div>


