<!-- <div class= "col-sm-12">
  <div class="day">
    déjeuner
  </div>
</div> -->
<div class="row">
<hr>
  <%= link_to(restaurant_bookings_path(@restaurant, date: date), remote: true) do %>
  <div class= "col-xs-6 dejdin" id="dej">
    <p class= "dejdin">Midi</p>
    <span class= "dejdin" id="couverts"><%= total_cuttlery_for(:midi, date, @bookings) %>/<%= @restaurant.capacity %></span>
    <span class= "dejdin" id="file_attente">(4)</span>
  </div>
<% end %>


<%= link_to(restaurant_bookings_path(@restaurant, date: date), remote: true) do %>
  <div class= "col-xs-6 dejdin" id="din">
    <p class= "dejdin">Soir</p>
    <span class= "dejdin" id="couverts"><%= total_cuttlery_for(:soir, date, @bookings) %>/<%= @restaurant.capacity %></span>
    <span class= "dejdin" id="file_attente">(4)</span>
  </div>
  <% end %>
</div>
